
<h1>Form Test</h1>
<div class="components">
    <form [formGroup]="form" (ngSubmit)="saveBtn()">
    <div>
        <div class="align">
            <label for="user" class="labels"> Name </label>
            <label for="email" class="labels"> Email </label>
            <input class="input" placeholder="name" formControlName="nameInp" type="text" id="user" name="Name" />
            <input class="input" placeholder="email" formControlName="emailInp" type="text" id="email" name="email" />
        </div>
        <div class="align">
            <label for="number" class="labels"> Number </label>
            <label for="cpf" class="labels"> CPF </label>
            <input class="input" formControlName="numberInp" type="text" id="number" name="number" />
            <input class="input" formControlName="cpfInp" type="text" id="cpf" name="cpf" />
        </div>
        <div class="align2">
            <label for="birthDate" class="labels"> BirthDate </label>
            <input class="input" formControlName="birthDateInp" type="date" id="birthDate" name="data" class="input" />
        </div>
        <div>
            <h3>Endereço</h3>
            <div class="align">
                <label for="street" class="labels"> Street </label>
                <label for="streetnum" class="labels"> StreetNumber </label>
                <input formControlName="streetInp" type="text" id="street" name="street" class="input" />
                <input formControlName="streetNumInp" type="text" id="streetnum" name="streetnum" class="input" />
            </div>
            <div class="align">
                <label for="distric" class="labels"> District </label>
                <label for="city" class="labels"> City </label>
                <input formControlName="districtInp" type="text" id="district" name="district" class="input" />
                <input formControlName="cityInp" type="text" id="city" name="city" class="input" />
            </div>
            <div class="align">
                <label for="state" class="labels"> State </label>
                <label for="cep" class="labels"> CEP </label>
                <select formControlName="stateInp" >
                    <option *ngFor="let uf of ufs">{{uf}}</option>
                </select>
                <input formControlName="cepInp" type="text" id="cep" name="cep" class="input" />
            </div>
        </div>
        <div class="button">
            <button type="submit">Save!</button>
        </div>
    </div>
    </form>
</div>


